<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
</head>
<body>

<h2>Register</h2>
<form id="register-form" onSubmit="return false;" >
    <div>
        <input type="hidden" name="id" id="user_id" />
    </div>
    <div>
        <label>
            Username:
            <input type="text" name="username" id="user_name"/>
        </label>
    </div>
    <div>
        <label>
            Email:
            <input type="email" name="email" id="user_email"/>
        </label>
    </div>
    <div>
        <label>
            Password:
            <input type="password" name="password" id="user_password"/>
        </label>
    </div>
    <div>
        <label>
            First Name:
            <input type="text" name="firstname" id="user_fname"/>
        </label>
    </div>
    <div>
        <label>
            Last Name:
            <input type="text" name="lastname" id="user_lname"/>
        </label>
    </div>
    <div>
        <input type="submit" onClick="submitForm()" value="Register" />
    </div>
</form>
<script type="text/javascript">
    function submitForm(event){
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/crm/registerUser', true);
        xhr.setRequestHeader("Content-Type", "application/json");
        var j = {
        		"id":1000,
        		"username":document.getElementById("user_name").value,
        		"email":document.getElementById("user_email").value,
        		"password": document.getElementById("user_password").value,
        		"firstName":document.getElementById("user_fname").value,
        		"lastName":document.getElementById("user_lname").value
        }
        console.log("json being formed", j);
        xhr.send(JSON.stringify(j));
      }
 </script>
</body>
</html>
